* {
    box-sizing:border-box;
  }
  
  html,body {
    min-height:100%;
    height:100%;
    background-size:cover;
    background-position:top center;
    font-family:helvetica neue, helvetica, arial, sans-serif;
    font-weight:200;
    &.modal-active {
      overflow: hidden;
    }
  }
  
  #modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;
    &.one {
      transform:scale(1);
      .modal-background {
        background:rgba(0,0,0,.0);
        animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          opacity:0;
          animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
      + .content {
        animation: scaleBack .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      }
      &.out {
        animation: quickScaleDown 0s .5s linear forwards;
        .modal-background {
          animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .modal {
             animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
        + .content {
          animation: scaleForward .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }
    }
    &.two {
      transform:scale(1);
      .modal-background {
        background:rgba(0,0,0,.0);
        animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          background-color:transparent;
          animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          h2,p {
            opacity:0;
            position:relative;
            animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
          .modal-svg {
            rect {
              animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
        }
      }
      &.out {
        animation: quickScaleDown 0s .5s linear forwards;
        .modal-background {
          animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .modal {
            animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            h2,p {
              animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
            .modal-svg {
              rect {
                animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
              }
            }
          }
        }
      }
    }
   
    .modal-background {
      display:table-cell;
      background:rgba(0,0,0,.8);
      text-align:center;
      vertical-align:middle;
      .modal {
        background:white;
        padding:50px;
        display:inline-block;
        border-radius:3px;
        font-weight:300;
        position:relative;
        h2 {
          font-size:25px;
          line-height:25px;
          margin-bottom:15px;
        }
        p {
          font-size:18px;
          line-height:22px;
        }
        .modal-svg {
          position:absolute;
          top:0;
          left:0;
          height:100%;
          width:100%;
          border-radius:3px;
          rect {
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 778;
            stroke-dashoffset: 778;
          }
        }
      }
    }
  }
  
  .content {
    min-height:100%;
    height:100%;
    background:white;
    position:relative;
    z-index:0;
    h1 {
      padding:75px 0 30px 0;
      text-align:center;
      font-size:30px;
      line-height:30px;
    }
    .buttons {
      max-width:800px;
      margin:0 auto;
      padding:0;
      text-align:center;
      .button {
        display:inline-block;
        text-align:center;
        padding:10px 15px;
        margin:10px;
        background:red;
        font-size:18px;
        background-color:#efefef;
        border-radius:3px;
        box-shadow:0 1px 2px rgba(0,0,0,.3);
        cursor:pointer;
        &:hover {
          color:white;
          background:#009bd5;
        }
      }
    } 
  }
  
 
  @keyframes fadeIn {
    0% {
      background:rgba(0,0,0,.0);
    }
    100% {
      background:rgba(0,0,0,.7);
    }
  }
  
  @keyframes fadeOut {
    0% {
      background:rgba(0,0,0,.7);
    }
    100% {
      background:rgba(0,0,0,.0);
    }
  }
  
  @keyframes scaleUp {
    0% {
      transform:scale(.8) translateY(1000px);
      opacity:0;
    }
    100% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform:scale(1) translateY(0px);
      opacity:1;
    }
    100% {
      transform:scale(.8) translateY(1000px);
      opacity:0;
    }
  }
  
  @keyframes scaleBack {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(.85);
    }
  }
  
  @keyframes scaleForward {
    0% {
      transform:scale(.85);
    }
    100% {
      transform:scale(1);
    }
  }
  
  @keyframes quickScaleDown {
    0% {
      transform:scale(1);
    }
    99.9% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
  }
  
 
 
  @keyframes sketchIn {
      0% {
          stroke-dashoffset: 778;
      }
      100% {
          stroke-dashoffset: 0;
      }
  }
  
  @keyframes sketchOut {
      0% {
          stroke-dashoffset: 0;
      }
      100% {
          stroke-dashoffset: 778;
      }
  }
  
  @keyframes modalFadeIn {
    0% {
      background-color:transparent;
    }
    100% {
      background-color:white;
    }
  }
  
  @keyframes modalFadeOut {
    0% {
      background-color:white;
    }
    100% {
      background-color:transparent;
    }
  }
  
  @keyframes modalContentFadeIn {
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0;
    }
  }
  
  @keyframes modalContentFadeOut {
    0% {
      opacity:1;
      top:0px;
    }
    100% {
      opacity:0;
      top:-20px;
    }
  }
  

  
 